In [40]:
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  

client = MongoClient(port=27123)
db = client.frevue_data
coll = db.Trips
#cursor = coll.find({"Owner": "United Kingdom, London, UPS"})

In [22]:
cursor1 = coll.aggregate([
        {"$group": {"_id": "$Owner", "NumberOfTrips": {"$sum": 1}}}
    ])
# cursor2 = coll.aggregate([
#     {"$match": {"$and": [
#                         {"Owner": "United Kingdom, London, UPS"}, 
#                         {"Distance": {"$gt": 0}}
#                 ]}
#     },
#     {"$group": {"_id": "$VehicleId", "AverageDistance": {"$avg": "$Distance"}}}
# ])

In [41]:
cursor1 = coll.aggregate([
        {"$group": {"_id": "$Owner", "NumberOfTrips": {"$sum": 1}}}
    ])
array = list(cursor1)
vehlist = pd.DataFrame(array)    #list of operation partners
curpartner = vehlist.iloc[10,1]   #current partner can set up a loop
print curpartner
cursor = coll.find(
        {"$and": [
                 {"Owner": curpartner},
                 {"Distance": {"$gt": 0}}
                ]
        })
PartnerData = pd.DataFrame(list(cursor))
Veh_num = len(PartnerData['VehicleId'].unique()) #count the number of vehilces
print Veh_num

United Kingdom, London, UPS
49

In [30]:
fig = plt.figure()
ax1 = fig.add_subplot(2,2,1)

    NumberOfTrips                                          _id
0             413                Netherlands, Rotterdam, EMOSS
1           12675      Netherlands, Amsterdam & Rotterdam, TNT
2             161              United Kingdom, London, Clipper
3            1096                        Portugal, Lisbon, CTT
4             541             Netherlands, Amsterdam, Heineken
5            1143  Spain, Madrid, Calidad Pascual & SEUR & TNT
6            1652                  Netherlands, Rotterdam, UPS
7            2987  Netherlands, Amsterdam & Rotterdam, TNT RAW
8             319             Netherlands, Rotterdam, Heineken
9            1589                       Portugal, Lisbon, EMEL
10          15800                  United Kingdom, London, UPS
11             68                          Italy, Milano, AMAT

In [15]:
cursor = coll.find(
        {"$and": [
                 {"Owner": "United Kingdom, London, UPS"},
                 {"Distance": {"$gt": 0}}
                ]
        })
UPSLondon = pd.DataFrame(list(cursor))

In [51]:
cursor2 = coll.aggregate([
    {"$match": {"$and": [
                        {"Owner": vehlist.iloc[0,1]}, 
                        {"Distance": {"$gt": 0}}
                ]}
    },
    {"$group": {"_id": "$VehicleId", "AverageDistance": {"$avg": "$Distance"}}}
])

In [39]:
print PartnerData.head(n=10)
PartnerData.iloc[0,5]
len(PartnerData['VehicleId'].unique())

   Aggregation DataPoints     Distance  Duration             EndTime  \
0            0       None      48000.0         0 2016-08-01 22:00:00
1            0       None      58000.0         0 2016-08-01 22:00:00
2            0       None  500052000.0         0 2016-02-25 23:00:00
3            0       None      44000.0         0 2016-02-29 23:00:00
4            0       None      49000.0         0 2016-03-01 23:00:00
5            0       None      54000.0         0 2016-03-02 23:00:00
6            0       None      48000.0         0 2016-03-03 23:00:00
7            0       None      53000.0         0 2016-03-06 23:00:00
8            0       None      52000.0         0 2016-03-07 23:00:00
9            0       None      54000.0         0 2016-03-08 23:00:00

                                              Extras  \
0  {u'Driver': {u'_v': u'INSULACO', u'_t': u'Mong...
1  {u'Driver': {u'_v': u'PAGE', u'_t': u'MongoDB....
2  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...
3  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...
4  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...
5  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...
6  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...
7  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...
8  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...
9  {u'Driver': {u'_v': u'LAMBERT', u'_t': u'Mongo...

                                    FileRelativePath  Frequency  \
0  wake\Csv_London\MODEC-NEW.xlsx_128225-YJ08ZHU.csv      86400
1  wake\Csv_London\MODEC-NEW.xlsx_128226-YJ08ZHV.csv      86400
2  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400
3  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400
4  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400
5  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400
6  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400
7  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400
8  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400
9  wake\Csv_London\MODEC-NEW.xlsx_128234-YJ08YZE.csv      86400

                         Owner           StartTime StateOfChargeDown  \
0  United Kingdom, London, UPS 2016-08-01 22:00:00              None
1  United Kingdom, London, UPS 2016-08-01 22:00:00              None
2  United Kingdom, London, UPS 2016-02-25 23:00:00              None
3  United Kingdom, London, UPS 2016-02-29 23:00:00              None
4  United Kingdom, London, UPS 2016-03-01 23:00:00              None
5  United Kingdom, London, UPS 2016-03-02 23:00:00              None
6  United Kingdom, London, UPS 2016-03-03 23:00:00              None
7  United Kingdom, London, UPS 2016-03-06 23:00:00              None
8  United Kingdom, London, UPS 2016-03-07 23:00:00              None
9  United Kingdom, London, UPS 2016-03-08 23:00:00              None

   StateOfChargeEnd  StateOfChargeMax  StateOfChargeMin  StateOfChargeStart  \
0              52.0             100.0              52.0               100.0
1              50.0             100.0              50.0               100.0
2              60.0             100.0              60.0               100.0
3              60.0             100.0              60.0               100.0
4              60.0             100.0              60.0               100.0
5              40.0             100.0              40.0               100.0
6              50.0             100.0              50.0               100.0
7              45.0             100.0              45.0               100.0
8              40.0             100.0              40.0               100.0
9              50.0             100.0              50.0               100.0

  StateOfChargeUp      TripId       VehicleId                       _id
0            None  2016-08-02  128225-YJ08ZHU  57b7078d69e7d91cd03866ec
1            None  2016-08-02  128226-YJ08ZHV  57b7078d69e7d91cd0386841
2            None  2016-02-26  128234-YJ08YZE  57b7078e69e7d91cd0386c5f
3            None  2016-03-01  128234-YJ08YZE  57b7078e69e7d91cd0386c63
4            None  2016-03-02  128234-YJ08YZE  57b7078e69e7d91cd0386c64
5            None  2016-03-03  128234-YJ08YZE  57b7078e69e7d91cd0386c65
6            None  2016-03-04  128234-YJ08YZE  57b7078e69e7d91cd0386c66
7            None  2016-03-07  128234-YJ08YZE  57b7078e69e7d91cd0386c69
8            None  2016-03-08  128234-YJ08YZE  57b7078e69e7d91cd0386c6a
9            None  2016-03-09  128234-YJ08YZE  57b7078e69e7d91cd0386c6b

49